.basic-grid-container{
  display: grid;
}
.two-col-container{
  grid-template-columns: 1fr 1fr;
}
.two-rows{
  grid-template-rows: 1fr 1fr;
}
.four-col{
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
}


/* for ease of building the layout, but remove later */
section, footer, header{
  background: gray;
  margin: 4pt;
  padding: 5pt;
  border-style: solid;
}