.basic-grid-container{
  display: grid;
}
.two-col-container{
  grid-template-columns: 1fr 1fr;
}
.two-rows{
  grid-template-rows: 1fr 1fr;
}
.four-col{
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
}
body{
  background-color: #cccccc;
}
section {
  border: 1pt solid rgb(215, 208, 208);
  border-radius: 20px;
}
section, footer, header{
 
  margin: 10%;
}

/* for ease of building the layout, but remove later */



